* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8rem;
}

.nav {
  background-color: grey;
  opacity: 0.85;
  position: sticky;
  top: 0;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.nav__list--item {
  font-size: 1.2rem;
  color: white;
  padding: 10px 0;
}

.nav__list--item a:hover {
  color: coral;
}

.nav__list--item a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: url('../img/header.jpg') no-repeat center center/cover;
}

.header__title {
  font-size: 3rem;
  background-color: white;
  height: 5vh;
  width: 100%;
  opacity: 0.85;
  padding-top: 20px;
  padding-bottom: 60px;
}

.header__paragrahp {
  background-color: antiquewhite;
  width: 100%;
  opacity: 0.85;
  padding-top: 20px;
  padding: 20px 0;
}

.sectionOne {
  display: flex;
  height: 60vh;
  background-color: lightgrey;
  border-bottom: 3px solid grey;
}

.sectionOne h3,
.sectionTwo h3 {
  font-size: 30px;
  padding: 20px;
}

.sectionOne p,
.sectionTwo p {
  padding: 0 30px;
  padding-bottom: 15px;
}

.sectionOne__about {
  text-align: center;
  border-right: 3px dotted grey;
}

.sectionOne__about--header {
  
}

.sectionOne__what {
  text-align: center;
}

.sectionOne__what--header {
  
}

.sectionTwo{
  display: flex;
  flex-direction: column;
}

.sectionTwo__offer {
  text-align: center;
  background-color: beige;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 3px solid darkkhaki;
  height: 50vh;
}

.sectionTwo__offer--list {
  list-style: none;
}

.sectionTwo__offer--list--items {
  text-align: 
}

.sectionTwo__contact {
  text-align: center;
  background-color: azure;
  height: 50vh;
}

.sectionTwo__contact--form label {
  display: block;
}

.footer {
  text-align: center;
  background: darkgrey;
  color: white;
  padding: 10px 0;
}