* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8rem;
}

.nav {
  background-color: grey;
  opacity: 0.85;
  position: sticky;
  top: 0;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.nav__list--item {
  font-size: 1.2rem;
  color: white;
  padding: 10px 0;
}

.nav__list--item:hover {
  color: coral;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: url('../img/header.jpg') no-repeat center center/cover;
}

.header__title {
  font-size: 3rem;
  background-color: white;
  height: 5vh;
  width: 100%;
  opacity: 0.85;
  padding-top: 20px;
  padding-bottom: 60px;
}

.header__paragrahp {
  background-color: antiquewhite;
  width: 100%;
  opacity: 0.85;
  padding-top: 20px;
  padding: 20px 0;
}